@import url(../index.css);

.toggle-section {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-section h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: black;
}

.event-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.event-input label {
  font-size: 14px;
  margin-bottom: 5px;
}

.event-input input,
.event-input select,
.event-input textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.event-input input:focus,
.event-input select:focus,
.event-input textarea:focus {
  border: 1px solid #007bff;
  outline: none;
}
