/* Do not delete this file or move it */
:root {
  --primaryRed: #ed1b2f;
  --secondaryRed: #f9ccd0;
  --primaryYellow: #ffd400;
  --secondaryYellow: #fff7cc;
  --primaryGreen: #33ee9c;
  --secondaryGreen: #d5f6e8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-base {
  border-width: 3px;
  border-style: solid;
  border-radius: 7px;
}

.border-red {
  border-color: var(--primaryRed);
}

.border-yellow {
  border-color: var(--primaryYellow);
}

.border-green {
  border-color: var(--primaryGreen);
}